!!!
%html
  %head
    %meta{ content: 'charset=utf-8' }
    %title Hinami
  %body
    %header
      %Marquee{ behavior: 'alternate', scrollamount: '20'}
        %h1 HINAMI
      %Marquee{ behavior: 'alternate', scrollamount: '30'}
        %h2 HINAMI
      %Marquee{ behavior: 'alternate', scrollamount: '40'}
        %h3 HINAMI
      %Marquee{ behavior: 'alternate', scrollamount: '50'}
        %h4 HINAMI
